body {

}
.shop {
}
.shop__select {
  padding: 110px 0px 0px;
  /* margin-right: 24px; */
  margin-bottom: 50px;
}


.select__selection {
}

.select__description {
  font-size: 16px;
  font-family: Dosis, sans-serif;
  font-size: 15px;
  color: #57647c;
}
.select__selection {
  background-color: #fff;
  color: #57647c;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 29px 0 hsl(0deg 0% 40% / 10%);
  float: unset;
  height: unset;
  line-height: normal;
  padding: 15px 35px 15px 20px;
  font-family: Dosis,sans-serif;
  font-size: 16px;
}

.shop__list {
  display: flex;
  flex-wrap: wrap;
}
.shop__item {
  margin-bottom: 170px;
  width: 416px;
  height: 442px;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
}

.shop__img--one {
  background-image: url('img/rigth-book.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  overflow: hidden;
  transition: all 0.5s ease;
}
.shop__item:hover .shop__img--one {
  position: relative;
  top: -10px;
  background-image: url('img/white-book.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  overflow: hidden;
  transition: all 0.5s ease;
}

.shop__img--two {
  background-image: url('img/red-book-left.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
  overflow: hidden;
}
.shop__item:hover .shop__img--two {
  position: relative;
  top: -10px;
  background-image: url('img/red-book-right.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
}
.shop__img--three {
  background-image: url('img/white-notebook-right.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
  overflow: hidden;
}
.shop__item:hover .shop__img--three {
  position: relative;
  top: -10px;
  background-image: url('img/white-notebook-left.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
}
.shop__img--four {
  background-image: url('img/list-rigth.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
  overflow: hidden;
}
.shop__item:hover .shop__img--four {
  position: relative;
  top: -10px;
  background-image: url('img/list-left.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
}
.shop__img--five {
  background-image: url('img/not-right.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
  overflow: hidden;
}
.shop__item:hover .shop__img--five {
  position: relative;
  top: -10px;
  background-image: url('img/left-note.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
}
.shop__img--six {
  background-image: url('img//pen-right.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
  overflow: hidden;
}
.shop__item:hover .shop__img--six {
  position: relative;
  top: -10px;
  background-image: url('img/pen-left.jpg');
  width: 416px;
  height: 442px;
  background-repeat: no-repeat;
  background-size: cover;  
  transition: all 0.5s ease;
}
.bxs-cart-add  {
  font-size: 20px;
}
.shop_part {
  position: relative;
  transition: all .5s ease;
}
.shop_part:hover .shop__card {
  background-color: #ff4800;
  transition: all 0.5s ease;
} 
.shop__card {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
  height:46px;
  background-color: #333;
  padding: 12px 20px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  font-size: 15px;
  font-weight: 600;
  font-family: Dosis,sans-serif;
  transition:  all 1s ease;
  animation-name: myshopcard;
  /* animation-duration: 0.4s; */
  animation-timing-function: ease;
}
@keyframes myshopcard {
  0% {
    opacity: 0;
    transition: 0.4s ease;
  }
  100% {
      opacity: 1;
      transition: 0.5s ease;
  }
}

.shop__item:hover .shop__card{
  top: 400px;
  opacity: 1;
  transition: 0.5s ease;
}


.card__add {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-family: Dosis,sans-serif;
  text-decoration: none;
}

.shop__product {
  padding: 25px;
  text-align: center;
  height: 138px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
} 

.shop__title {
  font-size: 23px;
  font-family: Dosis, sans-serif;
  margin-bottom: 5px;
}
.shop__link {
  text-decoration: none;
  color: #333;
  font-family: Dosis,sans-serif;
  font-weight: 700;
  transition: 0.5s ease;
}
.shop__link:hover {
  color: #ff4800;
  transition: 0.5s ease;
}

.shop__cost {
  color: #333;
  margin-left: 10px;
  font-size: 15px;
  font-family: Dosis,sans-serif;
  font-weight: bold;
}
.shop__prise {
  color: #828893;
  margin-left: 10px;
  font-size: 13px;
  font-family: Dosis,sans-serif;
  font-weight: bold;
}
.shop__star {
  margin-top: 8px;
}

.page__list {
  margin-bottom: 40px;
}
.page__item {
  list-style-type: none;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  display: inline-block;
  background-color: #fff;
  line-height: 40px;
  box-shadow: 0 2px 10px 0 #d8dde6;
  transition: all 0.5s ease;
}

.page__item:hover {
  background-color: #ff4800;
  transition: all 0.5s ease;
}

.page__item:hover .page__link{
  color: #fff;
  transition: all 0.5s ease;
}
.page__link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-family: Dosis,sans-serif;
}

.active {
  background-color: #ff4800;
  color: #fff
}

.bx-chevrons-left {
  font-weight: 900;
}
.bx-chevrons-right {
  font-weight: 900;
}